body {
background-color: black;
}

h1 {
  text-align: center;
  position: relative;
  font-family: "Verdana", sans-serif;
  color: white;
  margin-top: 100px;
}

#container {
  margin: auto;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
  background-color: #00CCFF;
  margin-bottom: 0px;
  margin-left: 6px;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 85px;

}

#message{
  margin: auto;
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-size: 15px;
  color: white;

}
