body {
background-color: black;
}

h1 {
  text-align: center;
  position: relative;
  font-family: "Verdana", sans-serif;
  color: white;
  margin-top: 100px;
  font-size: 40px;
}

#container {
  margin: auto;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px solid yellow;
  background-color: #00CCFF;
  margin-bottom: 0px;
  margin-left: 6px;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 85px;

}

#btnReset{
  display: inline-block;
  text-align: center;
  font-family: "Verdana";
  font-size: 20px;
  color: white;
  width: 150px;
  height: 35px;
  border-radius: 15px;
  background-color:  #ff1a1a;

}

#btnContainer{
  text-align: center;
  padding-top: 15px;
}

